<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.ugm.smartcity.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".View.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".View.RegisterActivity"
            android:noHistory="true" />
        <activity android:name=".View.Dashboard.DashBoardActivity" />
        <activity android:name=".View.NewDeviceActivity" />

        <service android:name=".Networking.Firebase.MyFirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Networking.Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".View.Dashboard.Fragment.Device.AddDeviceActivity" />
        <activity android:name=".View.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.RelayActivity" />
        <activity android:name=".View.NewHomeActivity" />
        <activity android:name=".View.DeviceDetailActivity" />
        <activity android:name=".View.ACActivity" />
        <activity android:name=".View.HomeSettingActivity" />
        <activity android:name=".View.AlertDetailActivity"></activity>
    </application>

</manifest>